@charset "UTF-8";
.left {
  float: left;
}

.right {
  float: right;
}

/*清除浮动代码*/
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.clearfix {
  zoom: 1;
}

.ant-layout-header {
  background-color: #326497 !important;
  height: 5vh !important;
}

.ant-layout-has-sider {
  position: relative;
  height: 95vh;
}

.ant-layout-has-sider .ant-layout-sider {
  background-color: #fff;
  width: 100px !important;
}

.ant-menu {
  background-color: transparent !important;
}

.ant-menu-vertical {
  border-right: none !important;
}
